<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <form class="d-flex me-auto">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="bi bi-bell"></i> Notifications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="bi bi-person"></i> User</a>
            </li>
        </ul>
    </div>
</nav>
