<nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar vh-100">
    <div class="position-sticky">
        <div class="sidebar-header d-flex justify-content-between align-items-center">
            <h3>LOGO</h3>
            <button id="sidebarToggle" class="btn btn-outline-secondary">
                <i class="bi bi-chevron-left"></i>
            </button>
        </div>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">
                    <i class="bi bi-house"></i> <span class="menu-text">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi bi-people"></i> <span class="menu-text">Users</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi bi-image"></i> <span class="menu-text">Photos</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi bi-gear"></i> <span class="menu-text">Configuration</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
